<table mat-table [dataSource]="products">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef> Marca </th>
    <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
  </ng-container>

  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef> Modelo </th>
    <td mat-cell *matCellDef="let element"> {{element.model}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Precio </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <ng-container matColumnDef="stock">
    <th mat-header-cell *matHeaderCellDef> Stock </th>
    <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="primary" (click)="createLink.click()">
        <a routerLink="/create" #createLink></a>
        <mat-icon>add</mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" aria-label="Ver los detalles de este producto.">
        <mat-icon>preview</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Editar este producto.">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Eliminar este producto.">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- <ul *ngFor="let product of products | async">
  <li>{{ product | json }}</li>
</ul> -->