<h1>{{ title }}</h1>
<mat-form-field>
  <mat-label>Nombre</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field>
  <mat-label>Marca</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field>
  <mat-label>Modelo</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field>
  <mat-label>Precio</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field>
  <mat-label>Stock</mat-label>
  <input matInput>
</mat-form-field>
<button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
<input hidden #fileInput type="file">
<span class="file-name"></span>